name: fhi-sme
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - jupyter
  - ipykernel
  - pip:
      - lightgbm
      - xgboost
      - catboost
      - optuna
      - imbalanced-learn